; Escadrille Documentation Config
;
; To build the docs use the following command from the root of the escadrille
; repository:
;   ./docker/descadrille.py --mount "/tmp/escadrille:/tmp/escadrille" \
;       --command "/opt/escadrille_env/bin/escadrille \
;                  -c /opt/escadrille/docs/docs.cfg -v -d"
;
; note: - If using the production escadrille docker image, then the escadrille
;         repository should also be mounted to "/opt/escadrille"
;       - If using the development escadrille docker image then it needs to
;         also be specified using the "--image escadrille_dev:latest" flag.


[general]
  tmp_dir=/tmp/escadrille
  output_dir=${general:tmp_dir}/output
  staging_dir=${general:tmp_dir}/staging
  date_format=%Y-%m-%d %H:%M
  enabled_tasks=clean make_dirs populate git_log rstpages pss
  escadrille_path=/opt/escadrille


[clean]
  task=clean
  general_dirs=True
  other_dirs=


[populate]
  task=copy_files
  readme_src=${general:escadrille_path}/README.rst
  readme_dst=${general:staging_dir}
  docs_src=${general:escadrille_path}/docs/*.rst
  docs_dst=${general:staging_dir}


[rstpages]
  task=rst2html2
  output_dir=${general:output_dir}
  inputs=${general:staging_dir}


[make_dirs]
  task=make_dirs
  general_dirs=True


[git_log]
  task=git_log_pages
  output_dir=${general:staging_dir}
  escadrille=${general:escadrille_path}


[pss]
  task=print_shared_state
