<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="{{ SITEURL }}/theme/css/html5.js"></script>
    <![endif]-->

    <!-- Favicon for the site -->
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/icons/favicon.png"/>

    <!-- Styles -->
    <link href="{{ SITEURL }}/theme/css/fretstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/magnific-popup.css" rel="stylesheet">


    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% include "analytics.html" %}
    {% include "disqus.html" %}
</head>
<body>
    <!--{% include "facebook.html" %}
    {% include "github.html" %}-->
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
            <ul class="nav">
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for page in PAGES %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% endif %}
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
            <p>{{ SITESUBTITLE}}</p>
            <center>
                <a class="brand" href="{{ SITEURL }}/">
                    <img src="{{ SITETHUMBNAIL_URL }}" alt="{{ SITETHUMBNAIL_ALTTEXT }}" width="125"/>
                </a>
            <!--h3>Blogroll</h3-->
            <!--div class="social">
            <h3>Social</h3>
            <ul>
                {% for name, link in SOCIAL %}
                <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            </div-->
            <p><div id="tagcloud">
            {% for tag in tag_cloud %}
            <a href="{{ SITEURL }}/{{ tag[0].url }}" rel="{{ TAG_CLOUD_STEPS - tag.1 }}">{{ tag[0] }}</a>
            {% endfor %}
            </div></p>
            <p>
            {% for name, link in LINKS %}
            <a href="{{ link }}">{{ name }}</a><br>
            {% endfor %}
            </p>
            </br>
            <p>
            {% include "github.html" %}
            </p>
            <p>
            {% include "bitbucket.html" %}
            </p>
            <p>
            {% include "twitter.html" %}
            <a class="twitter-timeline" href="https://twitter.com/fretboardfreak" data-widget-id="683051723020042240">Tweets by @fretboardfreak</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
            </center>
        </div>
      </div>
      <div class="content">
          {% block indextitle %}<div class="page-header"><h1>{% block title %}{% if self.windowtitle() != SITENAME %} {{ self.windowtitle() }} {% endif %}{% endblock %}</h1></div>{% endblock %}
            {% block content %}{% endblock %}
        <footer>
            {% block comments %}{% endblock %}
            <p class="pull-right"><a href="{{ SITEURL }}/archives.html">[archives]</a> <a href="{{ SITEURL }}/tags.html">[tags]</a></p>
            <p>
            {% for name, link in FOOTER_LINKS %}
            <a href="{{ link }}">{{ name }}</a>&nbsp|&nbsp
            {% endfor %}
            </p>
            <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{TWITTER_USERNAME}}"></a></p>
            <p>Git Logs:&nbsp
            {% for log in SITE_LOGS %}
            <a href="{{ SITEURL }}/{{ LOG_PATH % log }}">{{ log }}</a>&nbsp
            {% endfor %}
            </p>
            <p>Last Updated:&nbsp{{ LAST_UPDATED }}
            {{ FOOTER_TEXT }} -- &copy; {{ AUTHOR }}</p>
        </footer>
      </div>

    </div>
</body>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/magnific-popup.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.tagcloud.js"></script>"
{% block script %}{% endblock %}
<script type="text/javascript">
$(document).ready(function() {
    // wrap all image tags with a link
    $('img').each(function() {
        $(this).wrap($('<a class="img" href="' + $(this).attr('src') +
                       '" title="' + $(this).attr('alt') + '"></a>'));
    });
    // Enable Magnific Popup on a gallery of images inside a container
    $('.gallery').each(function() {
        $(this).find('a').magnificPopup({
            type: 'image',
            gallery: {
                enabled:true
            }
        });
    });
    // Enable Magnific Popup on naked images
    $('a.img').each(function() {
        if ($(this).parent('.gallery').length == 0) {
            $(this).magnificPopup({
                type: 'image',
            });
        };
    });
    $.fn.tagcloud.defaults = {
      size: {start: 13, end: 25, unit: 'pt'},
      color: {start: '#00b', end: '#0b0'}
    };
    $('#wordcloud a').tagcloud();
    $('#tagcloud a').tagcloud({
      size: {start: 10, end: 18, unit: 'pt'},
      color: {start: '#00b', end: '#0b0'}
    });
});
</script>
</html>
