{% if TWITTER_USERNAME %}
<a href="https://twitter.com/intent/tweet?screen_name=fretboardfreak" class="twitter-mention-button" data-show-count="false">Tweet to @fretboardfreak</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>
<a href="https://twitter.com/fretboardfreak" class="twitter-follow-button" data-show-count="false">Follow @fretboardfreak</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--img style="border: 0;" src="{{ SITEURL }}/theme/images/icons/twitter.png" alt="Tweet at @fretboardfreak" /><a href="https://twitter.com/fretboardfreak">&nbspweet @fretboardfreak or with #QuizzicalSilicon&nbsp</a><img style="border: 0;" src="{{ SITEURL }}/theme/images/icons/twitter.png" alt="Tweet at @fretboardfreak" /><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script-->

<!-- this img is the little lite blue t button -->
<!-- img style="border: 0;" src="{{ SITEURL }}/theme/images/icons/twitter.png" alt="Tweet at @fretboardfreak" /-->

<!-- this link is a twitter share button -->
<!--a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{TWITTER_USERNAME}}"-->
{% endif %}
